<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fusionfuture.bugu.pk.mapper.PmsUserCreatePlanMapper">

    <select id="queryPkUserCreatePlanByUserId" resultType="cn.fusionfuture.bugu.pk.vo.plan.MyAchievementPlanVO">
    SELECT
        pms_pk_plan.id,
        pms_pk_plan.name,
        pms_pk_plan.description,
        pms_pk_plan.punch_quantity,
        pms_pk_plan.total_bonus,
        pms_pk_plan.start_time,
        pms_pk_plan.end_time,
        pms_pk_plan.enrolled_quantity,
        pms_pk_plan.like_count,
        pms_pk_plan.is_anonymously_publish,
        pms_user_create_plan.punch_victory_count,
        pms_pk_pattern.description AS plan_pattern,
        pms_pk_plan_status.description AS plan_status
    FROM
        pms_pk_plan,
        pms_pk_pattern,
        pms_pk_plan_status,
        pms_user_create_plan
    WHERE
        pms_pk_plan.id IN ( SELECT pk_plan_id FROM pms_user_create_plan WHERE pms_user_create_plan.user_id = #{uid} )
        AND pms_pk_plan.pk_pattern_id = pms_pk_pattern.id
        AND pms_pk_plan.plan_status_id = pms_pk_plan_status.id
    ORDER BY
        pms_pk_plan.id DESC
    </select>

    <select id="queryDetailedPkPlanVO" resultType="cn.fusionfuture.bugu.pk.vo.plan.DetailedPkPlanVO">
        SELECT
            pms_pk_plan.name,
            pms_pk_plan.image_url,
            pms_pk_plan.description,
            pms_pk_plan.pk_quantity,
            pms_pk_plan.enrolled_quantity,
            pms_pk_plan.punch_cycle,
            pms_pk_plan.punch_quantity,
            pms_pk_plan.total_bonus,
            pms_pk_plan.pk_bonus,
            pms_pk_plan.start_time,
            pms_pk_plan.end_time,
            pms_user_create_plan.punch_count AS punch_count,
            pms_pk_plan_status.description AS plan_status,
            pms_pk_pattern.description AS plan_pattern
        FROM
            pms_pk_plan,
            pms_pk_pattern,
            pms_pk_plan_status,
            pms_user_create_plan
        WHERE
            pms_pk_plan.id = #{pid} AND
            pms_pk_plan.pk_pattern_id = pms_pk_pattern.id AND
            pms_pk_plan.plan_status_id = pms_pk_plan_status.id AND
            pms_user_create_plan.user_id= #{uid} AND
            pms_user_create_plan.pk_plan_id= #{pid}
        ORDER BY pms_pk_plan.id DESC
    </select>

    <select id="queryByUserIdAndPlanId" resultType= "cn.fusionfuture.bugu.pk.vo.UserCreatePlanRecordVO">
        SELECT
            id,
            punch_count
        FROM
            pms_user_create_plan
        WHERE
            pms_user_create_plan.user_id= #{userId}
            AND pms_user_create_plan.pk_plan_id= #{planId}
    </select>
</mapper>