<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fusionfuture.bugu.monitor.mapper.PmsUserMonitorPlanMapper">
    <select id="queryMonitorPlanByUserId" resultType="cn.fusionfuture.bugu.monitor.vo.plan.MyAchievementPlanVO">
    SELECT
        pms_monitor_plan.id,
        pms_monitor_plan.name,
        pms_monitor_plan.description,
        pms_monitor_plan.punch_count,
        pms_monitor_plan.punch_quantity,
        pms_monitor_plan.start_time,
        pms_monitor_plan.end_time,
        pms_monitor_plan.like_count,
        pms_monitor_plan.monitor_quantity,
        pms_monitor_pattern.description AS plan_pattern,
        pms_monitor_plan_status.description AS plan_status
    FROM
        pms_monitor_plan,
        pms_monitor_pattern,
        pms_monitor_plan_status,
        pms_user_monitor_plan
    WHERE
        pms_monitor_plan.id IN ( SELECT monitor_plan_id FROM pms_user_monitor_plan WHERE pms_user_monitor_plan.user_id = #{uid} )
        AND pms_monitor_plan.monitor_pattern_id = pms_monitor_pattern.id
        AND pms_monitor_plan.plan_status_id = pms_monitor_plan_status.id
    ORDER BY
        pms_monitor_plan.id DESC
    </select>
</mapper>
