<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.fusionfuture.bugu.transaction.mapper.TmsPlanTransactionMapper">

    <select id="queryPlanIncome" resultType="cn.fusionfuture.bugu.transaction.vo.PlanTransactionVO">
        SELECT
        id, plan_type, transaction_type, plan_title, create_time
        FROM
        tms_plan_transaction
        WHERE
        id = #{uid} AND transaction_amount &gt; 0
        ORDER BY
        create_time
        DESC
    </select>

    <select id="queryPlanExpense" resultType="cn.fusionfuture.bugu.transaction.vo.PlanTransactionVO">
        SELECT
        id, plan_type, transaction_type, plan_title, create_time
        FROM
        tms_plan_transaction
        WHERE
        id = #{uid} AND transaction_amount &lt; 0
        ORDER BY
        create_time
        DESC
    </select>
</mapper>
